@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~stream-chat-react/dist/css/v2/index.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 110 82% 41%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 3% 6%;
    --foreground: 0 0% 98%;

    --card: hsl(var(--background));
    --card-foreground: hsl(var(--foreground));

    --popover: hsl(var(--background));
    --popover-foreground: hsl(var(--foreground));

    --primary: 111 88% 52%;
    --primary-foreground: 0 0% 2%;

    --secondary: 120 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 110 5% 15%;
    --muted-foreground: 110 5% 49%;

    --accent: 111 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 100 5% 12%;
    --input: 120 4% 18%;
    --ring: 110 88% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.str-chat {
  --str-chat__font-family: inherit;
  --str-chat__primary-color: theme(colors.primary.DEFAULT);
  --str-chat__on-primary-color: theme(colors.primary.foreground);
  --str-chat__active-primary-color: theme(colors.primary.foreground);
  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    hsl(var(--primary)) 10%,
    transparent
  );
  --str-chat__background-color: theme(colors.card.DEFAULT);
  --str-chat__secondary-background-color: theme(colors.card.DEFAULT);
  --str-chat__message-textarea-background-color: theme(colors.background);
  --str-chat__channel-preview-active-background-color: theme(
    colors.accent.DEFAULT
  );
  --str-chat__channel-preview-hover-background-color: var(
    --str-chat__channel-preview-active-background-color
  );
  --str-chat__secondary-surface-color: theme(colors.muted.DEFAULT);
  --str-chat__own-message-bubble-color: theme(colors.primary.foreground);
  --str-chat__primary-surface-color: theme(colors.primary.DEFAULT);
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  );
  --str-chat__disabled-color: theme(colors.muted.DEFAULT);
  --str-chat__cta-button-border-radius: var(--radius);
}

.str-chat-channel-list {
  border-right: none;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0;
}

.str-chat__channel-search-bar-button--exit-search {
  display: none;
}
